@*
    For more information on enabling MVC for empty projects, visit https://go.microsoft.com/fwlink/?LinkID=397860
*@
@model IEnumerable<MuzikMvcApp.Models.Muzik>
<table class="table">
    <thead>
        <tr>
            <th class="col-3">
                Şarkı İsmi
            </th>
            <th class="col-3">
                Album İsmi
            </th>
            <th class="col-3">
                Artist
            </th>
            <th class="col-1">
                Çıkış Yılı
            </th>
            <th class="col-2"><div>
                <a class="btn btn-success btn-block" asp-action="AddOrEdit">Yeni Şarkı</a>
            </div></th>
        </tr>
    </thead>
    <tbody>
        @foreach (var item in Model)
        {
            <tr>
                <td>
                    @Html.DisplayFor(modelItem => item.SarkiIsmi)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.AlbumIsmi)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.Artist)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.CikisYili)
                </td>
                <td>
                    <a class="btn btn-primary" asp-action="AddOrEdit" asp-route-id="@item.Id">Düzenle</a> 
                    <a class="btn btn-danger" asp-action="Delete" asp-route-id="@item.Id">Sil</a>
                </td>
            </tr>
        }
    </tbody>
</table>
